@import "../../App";

.advantageTwo{
    background-color: $orange;
    margin-top: 100px;
    padding: 64px 0px 46px 0px;
    text-align: center;

    h1{
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 15px;
        color: white;
    }
}

.cardwrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px;
    column-gap: 40px;
    row-gap: 43px;
    .card{
        width: 90%;
        text-align: center;

        @include media($xxm) {
            width: 70%;
        }
        @include media($sm) {
            width: 45%;
        }
        @include media($lg) {
            width: 30%;
        }
        @include media($xxl) {
            width: 22%;
        }

        h4{
            margin-bottom: 10px;
        }

        img{
            width: 70px;
            height: 70px;
            margin-bottom: 15px;

            @include media($lg) {
                width: 80px;
                height: 80px;
            }
            @include media($xxl) {
                width: 90px;
                height: 90px;
            }
        }
    }
}

// Our Roadmap

.our_roadmap{
    padding: 50px 0px 45px 0px;

    @include media($lg) {
        padding: 73px 0px 63px 0px;
    }
    h1{
        color: black;
    }
}