@import "../App.scss";

.main {
  background-image: url(../Images/Background-image/Home_main_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 190px;

  @include media($lg) {
    padding-top: 210px;
  }
  @include media($xl) {
    padding-top: 225px;
  }
  @include media($xxl) {
    padding-top: 236px;
  }

  .main_heading {
    display: flex;
    flex-flow: column wrap;
    border-bottom: 2px solid white;
    padding-bottom: 15px;
    max-width: 520px;
    margin-bottom: 39px;
  }
  .btn_wrap {
    padding-bottom: 100px;

   
  }
}
